{% extends 'shop/base.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <h4 class="card-title">Data Table</h4> -->
                <a href="{% url 'shop:PickupRequestView' %}" class="btn btn-sm btn-primary">All</a>
                <a href="{% url 'shop:PickupRequestView' %}?req=1" class="btn btn-sm btn-info">Requested</a>
                <a href="{% url 'shop:PickupRequestView' %}?req=2" class="btn btn-sm btn-warning">Delivered</a>
                <a href="{% url 'shop:PickupRequestView' %}?req=3" class="btn btn-sm btn-success">Completed</a>
                
                <div class="table-responsive">
                    <table class="table table-striped table-bordered zero-configuration">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Request Date</th>
                                <th>Customer Name</th>
                                <th>Address</th>
                                <th>Status</th>
                                
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in pr %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.created_at}}</td>
                                <td>{{i.customer_name}}|{{i.phone}}</td>
                                <td>{{i.address}}</td>
                                
                                <td>
                                    {% if i.status == 1 %}
                                    <span class="badge badge-pill badge-secondary">requested</span>
                                    {% elif i.status == 2 %}
                                    <span class="badge badge-pill badge-info">by delivery</span>
                                    {% elif i.status == 3 %}
                                    <span class="badge badge-pill badge-success">completed</span>
                                    {% endif %}
                                </td>
                                <td>
                                    <!-- Modal HTML embedded directly into document -->
<div id="ex1" class="modal">
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>
    <p>Thanks for clicking. That felt good.</p>

    <a href="#" rel="modal:close" class="btn btn-danger btn-block">Close</a>
  </div>
  
  <!-- Link to open the modal -->
  <p><a href="#ex1" rel="modal:open" class="btn btn-sm btn-primary">View Detail</a></p>
                                </td>
                                
                                
                                <!-- <td><a href="{% url 'shop:PickupRequestDetailView' i.id %}" class="btn btn-sm btn-info">view detail</a></td> -->
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                        <tfoot>
                            
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}